h1 {
    font-size: 2em;
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: yellow;
    background-color: red;
}

h2 {
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    padding: 8px;
    margin: 15px;
    font-weight: normal;
    color: blue;
    background-color: lightgray;
}

p {
    font-family: 'Times New Roman', serif;
    font-size: 1em;
    padding: 5px;
    margin: 10px;
    color: black;
    background-color: green;
}

.logo {
    background-size: cover;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: red;
    height: 200px;
    width: 200px;
}
